aws_region               = "ap-south-1"
security_log_bucket_name = "eks-security-logs-174765206872-ap-south-1" # globally unique
platform_admin_role_arn  = "arn:aws:iam::123456789012:role/PlatformAdmin"
